h1 {
    margin: .5em 0;
    font-size: 3.4em;
}
.container { position: relative; }
#errors {
    position: absolute;
    top: 2em;
    right: 0;
    z-index: 100;
}
.scrollWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.scrollableArea {
    position: relative;
    width: auto;
    height: 100%;
}
.spr, #tape li {
    background-image: url(turing12-hp-sprite.png);
    background-repeat: no-repeat;
}
#tape-layout {
    position: relative;
    width: 400px; height: 83px;
}
#tape-layout .hole {
    position: absolute; top: 0;
    z-index: 5; width: 13px; height: 55px;
}
#tape-layout .hole.right {
    background-position: 0px -554px;
    right: 0;
}
#tape-layout .hole.left {
    background-position: -350px -610px;
    left: 0;
}
#clear-tape {
    position: absolute;
    right: 0;
    bottom: 1px;
}
.shadow { z-index: 7; width: 47px; height: 41px; position: absolute; top: 7px; }
.shadow.left {
    left: 7px;
    background-position: -350px -554px;
}
.shadow.right {
    right: 7px;
    background-position: -511px 0px;
}
#tape-inner {
    overflow: hidden;
    width: 396px;
    position: absolute;
    top: 1px;
    left: 2px;
    z-index: 6;
}
#tape {
    height: 45px;
    list-style: none;
    margin: 0;
    padding: 6px 5px;
    overflow: hidden;
}
#tape li {
    /*display: inline-block;*/
    position: relative;
    float: left;
    margin: 0; padding: 0;
    background-position: -243px -554px;
    width: 40px;
    height: 45px;
}
#tape li.fool {
    width: 20px;
}
#tape li.one {
    background-position: -291px -276px;
}
#tape li.zero {
    background-position: -721px 0px;
}
#tape li.one.selected {
    background-position: -251px -276px;
}
#tape li.zero.selected {
    background-position: -761px 0px;
}

#code > ul li {
    float: left;
    width: 16px; height: 16px;
}
#code-routes {
    margin: 0; padding: 0;
}
#code-routes ul {
    margin: 0; padding: 0;
    list-style: none;
}
#code-routes ul li {
    float: left;
    width: 16px; height: 16px;
}
